{% extends "base.html" %}

{% block title %}Stacked Area Plot{% endblock %}

{% block body %}
<div class="container">
  <h2 class="text-white mb-4">⚡ Interactive Area Plot of Power Generation</h2>

  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% else %}
    <div class="alert alert-info fs-5">
      <strong>Total Power Output:</strong> ⚡ {{ total_power }} MW
    </div>
    <div>
      {{ plot_div|safe }}
    </div>
  {% endif %}
</div>
<section class="container mb-3 mt-3">
        <form>
            <div class="row">
            <a href="/result" class="btn btn-success btn-lg btn-block"><i class="fa-solid fa-chart-line me-2"></i> Show Result</a>
        </div>
        </form>
    </section>


{% endblock %}
